body{
    background-color: #F0F0F0;
}
.circle {
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
}
.design{
    background-color: #E6563B;
}
.develop{
    background-color: #EB9D3A;
}
.support{
    background-color: #7CB06C;
}
.host{

    background-color: #00ABA9;
}

.font1 {
    font-family: 'Anton', sans-serif;
}

.font2 {
    font-family: 'Abel', sans-serif;
}


.images-medium{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-margin{
    margin: 0px 8px;
}

.hidden{
    display: none;
}

@media screen and (min-width: 640px){
    .images-medium{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

}
@media screen and (min-width: 1024px){
    .hidden{
        display: inline-block;
    }
}