body{
    background-color: #F0F0F0;
}
.circle {
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
}
.design{
    background-color: #E6563B;
}
.develop{
    background-color: #EB9D3A;
}
.support{
    background-color: #7CB06C;
}
.host{

    background-color: #00ABA9;
}
